body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #bfc18d, #52504d);
    /* Gradient background */
    color: #fff;
    /* Text color */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(236, 198, 198, 0.8);
    /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #fff;
    /* Title text color */
}

.form {
    padding: 20px;
}

.legend {
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
   
    border-radius: 5px;
    padding: 5px 10px;
    background: linear-gradient(to right, #4a4b45, #616148);
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="search"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-group {
    margin-left: 20px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0056b3;
}